<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout using Tables</title>
    <link rel="stylesheet" href="site.css">
</head>

<body>
    <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td class="header">
                <img src="./images/Logo.jpg" alt="Logo" class="logo-type-basic">
                <span class="title">HMS 1.0</span>
            </td>
        </tr>
        <tr>
            <td class="navbar">
                <p>
                    <ul class="nav">
                        <li><a href="Room.php">Room</a></li>
                        <li><a href="Tariff.php">Tariff</a></li>
                        <li><a href="Hosteller.php">Hosteller</a></li>
                        <li><a href="Allocation.php">Allocation</a></li>
                        <li><a href="Mess.php">Mess</a></li>
                    </ul>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>main content
                    <ul>
                        <li>This is the first point</li>
                        <li>This it the second point</li>
                    </ul>
                    <a href="index.php">Home</a>
                </p>
            </td>
        </tr>
        <tr>
            <td class="footer">
                <p>&copy;2022, HMS1.0</p>
            </td>
        </tr>
    </table>

</body>

</html>